<p>Details of <%= @work.title %>, (<%= @edition.description %>),
  by <%= @work.composer.whole_name %></p>

<table border="1">
  <tr>
    <th>Publisher</th>
    <th>Year</th>
    <th>Price</th>
  </tr>
  <tr>
    <td><%= @edition.publisher.name %></td>
    <td><%= @edition.year %></td>
    <td>$<%= @edition.price %></td>
  </tr>
</table>